.boxes-home {
  width: 500px;
  box-shadow: 2px 10px 100px rgba(127, 125, 125, 0.155);
  padding: 20px;
  border-radius: 10px;
}
.dg {
  display: flex;
  flex-wrap: wrap;
  margin: 80px 0;
  gap: 40px;
  justify-content: center;
  padding: 50px;
  color: rgb(53, 52, 52);
  padding-top: 0;
}
.home-img {
  height: 300px;
  margin: 15px 0;
}
.cat {
  display: block;
  text-align: center;
  padding: 2rem;
  font-size: 3rem;
}
@media (max-width: 600px) {
  .cat {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }
  .dg {
    padding: 20px;
  }
  .boxes-home {
    margin: 0;
  }
  .boxes-home {
    width: 100%;
  }
  .home-img {
    width: 100%;
    height: unset;
  }
  .dg {
    margin: 30px 0;
  }
  h4 {
    font-size: 1.1rem !important;
  }
}
